*{
    margin: 0;
    border: 0;
}
.grid {
    display: grid;
    grid-template-columns: 1fr 600px 600px 1fr;
    grid-template-rows: 150px 250px 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
    ". title title ."
    ". career . ."
    ". skills education ."
    ". work1 . ."
    ". . work2 ."
    ". work3 . .";
    background-color: lightblue;
}
.title{
    grid-area: title;
    font-family: Calibri;
    font-size: 24px;
    font-weight: bolder;
    text-align: center;
    padding-top: 50px;
}
.title h1{
    font-size: 16px;
    font-weight: normal;
}
.career{
    grid-area: career;
    font-family: Calibri;
    font-size: 24px;
    font-weight: bolder;
}
.career p{
    font-size: 16px;
    font-weight: normal;
    width: fit-content;
}
.education{
    grid-area: education;
    font-family: Calibri;
    font-size: 24px;
    font-weight: bolder;
}
.education h4{
    font-size: 16px;
    font-weight: normal;
    float: left;
    padding-top: 45px;
}
.edu-logo{
    padding-left: 20px;
}
.work1{
    grid-area: work1;
    font-size: 24px;
    font-weight: bolder;
    font-family: Calibri;
}
.work1 p{
    padding-top: 10px;
    font-size: 16px;
    font-weight: normal;
    text-align: left;
}
.work-logo1{
    float: right;
}
.work2{
    grid-area: work2;
    font-size: 24px;
    font-weight: bolder;
    font-family: Calibri;
    padding-top: 30px;
    padding-bottom: 30px;
}
.work2 p{
    padding-top: 10px;
    font-size: 16px;
    font-weight: normal;
    text-align: left;
}
.work-logo2{
    float: right;
}

.work3{
    grid-area: work3;
    font-size: 24px;
    font-weight: bolder;
    font-family: Calibri;
}
.work3 p{
    font-size: 16px;
    font-weight: normal;
    text-align: left;
}
.work-logo3{
    float: right;
}

.skills{
    grid-area: skills;
    font-family: Calibri;
    font-size: 24px;
    font-weight: bolder;
    text-align: left;
}
.skills-about{
    padding-top: 50px;
    padding-left: 50px;
}
